<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <main>
            <div class="container-full-screen">
                <h1 class = "container-section-title">Travel App</h1>
                <div class="container-search">
                    <div class="input-heading">
                        <label>Departure City</label><br>
                        <input class="input-depart" type="text">
                    </div>
                    <div class="input-heading">
                        <label>Arrival City</label><br>
                        <input class="input-depart" type="text">
                    </div>
                    <div class="input-heading">
                        <label>Departure Date</label><br>
                        <input class="input-depart-date" type="date">
                    </div>
                    <div class="input-heading">
                        <label>Arrival Date</label><br>
                        <input class="input-return-date" type="date">
                    </div>
                    <div class="input-heading">
                        <br>
                        <button type="button">Search</button>
                    </div>
                </div>
            </div>
        </main>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>