$primary-color: blue;
$title-font-size: 50px;

header {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

h1 {
    text-decoration: underline overline wavy $primary-color;
    font-size: $title-font-size;
}

